<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/css/ztree/zTreeStyle/zTreeStyle.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/css/ztree/demo.css}" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form layui-form-pane" action="" id="form">
                <input name="userId" th:value="${obj?.userId}" class="layui-input layui-hide"/>


                <div class="layui-form-item">
                    <label class="layui-form-label">用户名称：</label>
                    <div class="layui-input-block">
                        <input type="text" id="userName" name="userName" th:value="${obj?.userName}" lay-verify="required"  autocomplete="off" class="layui-input" onblur="checkUserName(this.value)">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">用户电话：</label>
                    <div class="layui-input-block">
                        <input type="text" id="userPhone" name="userPhone" th:value="${obj?.userPhone}" lay-verify="required"  autocomplete="off" class="layui-input" onblur="checkUserPhone(this.value)" >
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">用户邮箱：</label>
                    <div class="layui-input-block">
                        <input type="text" id="userEmail" name="userEmail" th:value="${obj?.userEmail}" lay-verify="required"  autocomplete="off" class="layui-input" onblur="checkUserEmail(this.value)">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">用户角色：</label>
                    <div class="layui-input-block">
                        <input id="userRole" name="userRole"  lay-verify="required"  autocomplete="off" class="layui-input" disabled>

<!--                        <select id="userRole" name="userRole" lay-search lay-filter="demo"></select>-->
                    </div>
                </div>

<!--                <input id="userArea" name="userArea" th:value="${obj?.userArea}" class="layui-input layui-hide"/>-->
                <div class="layui-form-item">
                    <label class="layui-form-label">负责区域：</label>
                    <div class="layui-input-block">
                        <input id="userArea" name="userArea" th:value="${obj?.userArea}" lay-verify="required"  autocomplete="off" class="layui-input" disabled>


                    </div>
                </div>

                <div class="layui-form-item " style="margin-left:110px">
                    <button type="button" class="layui-btn layui-btn-normal" onclick="editUserInfo()">确认</button>
                    <button type="button" class="layui-btn layui-btn-danger" onclick="editUserPsw()" href="">修改密码</button>
<!--                    <input type="button" lay-submit lay-filter="LAY-front-submit" id="LAY-front-submit" onclick="add()" value="确认">-->
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/static/js/jquery/jQuery-2.2.0.min.js}"></script>
<script th:src="@{/static/js/bstable/js/bootstrap.min.js}"></script>
<script th:src="@{/static/layui/layui.js}"></script>
<script th:src="@{/static/js/light/user/areaZtree.js}"></script>
<script type="text/javascript" th:src="@{/static/js/ztree/jquery.ztree.core-3.5.js}"></script>
<script type="text/javascript" th:src="@{/static/js/ztree/jquery.ztree.excheck-3.5.js}"></script>
<script type="text/javascript" th:src="@{/static/js/ztree/jquery.ztree.exedit-3.5.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrapValidator.min.js}"></script>

<script th:src="@{/static/js/common/userInfoCheck.js}"></script>
<script>

    layui.use(['form','laydate'],function () {
            var $ = layui.$;
            var laydate = layui.laydate;
            var form = layui.form;

            //获取角色列表
            $.ajax({
                url: '/roleList',
                dataType:'json',
                type:'GET',
                cache:false,
                success:function (data) {

                    //获取要渲染的数据
                    var userRole = '[[${obj?.userRole}]]';


                    //上级区域值比较多，需要清空列表，重新渲染
                    var select = $("#userRole");

                    for(var i=0; i<data.length; i++){
                        var d = data[i];
                        var id = d['roleId'];
                        var name = d['roleName'];
                        //选中行上级编号和获取到数据的编号一致，赋该值
                        if( id == userRole) {
                            $("#userRole").val(name);
                        } else {

                        }

                    }
                    layui.form.render("select");          //下拉列表渲染，把内容加载进去
                }
            });

            var userArea = '[[${obj?.userArea}]]';

            //获取角色列表
            $.ajax({
                url: '/areaListByareaId/' + userArea,
                dataType:'json',
                type:'GET',
                cache:false,
                success:function (data) {

                    //获取要渲染的数据
                    var userRole = '[[${obj?.userRole}]]';


                    //上级区域值比较多，需要清空列表，重新渲染
                    var select = $("#userRole");

                    for(var i=0; i<data.length; i++){
                        var d = data[i];
                        var id = d['areaId'];
                        var name = d['areaName'];
                        //选中行上级编号和获取到数据的编号一致，赋该值
                        if( id == userArea) {
                            $("#userArea").val(name);
                        } else {

                        }

                    }
                    layui.form.render("select");          //下拉列表渲染，把内容加载进去
                }
            });


        });

        function editUserInfo() {
            //保存用户信息的同时保存负责区域信息

            var user = $("#form").serializeObject();
            console.log(user);

            //判断用户名，用户手机号，用户邮箱是否为空
            if(user.userName == null || user.userName == "" || user.userPhone == null || user.userPhone == "" || user.userEmail == null || user.userEmail == ""){

            }else{
            	$.ajax({
                    type : 'GET',
                    url : '/userEdit',
                    dataType: 'json',
                    data : user,
                    async: false,
                    success: function (str) {
                        if(str.code === 0){
                            console.log("succ");
                        }
                        layer.msg(str.msg,{icon:str.icon,anim:str.anim});

                        //刷新页面
<!--                        setTimeout(function () {-->
<!--                            window.location.href = "/Logout";-->
<!--                        },1000);-->
                    }
                });
            }

		}

		function editUserPsw() {
            //保存用户信息的同时保存负责区域信息

            layer.open({
                type: 2,
                title: '修改密码',
                content: '/pswEditPage',
                shade:[0.8,'#393d49'],
                area:['400px','300px'],
                btn:['确定','取消'],
                yes:function (index,layero) {
                    var iframeWindow = window['layui-layer-iframe'+index];
                    var submit = layero.find('iframe').contents().find("#LAY-front-submit");
                    //监听提交
                    iframeWindow.layui.form.on('submit(LAY-front-submit)',function (data) {
                        var field = data.field;
                        console.log(field);
                        console.log(field.userPassword);
                        $.ajax({
                            url: '/passwordEdit/'+field.userPassword,
                            data: field,
                            async: false,
                            cache: false,
                            success: function (str) {
                                if(str.code === 0){
                                    console.log(1111);
                                }
                                layer.msg(str.msg,{icon:str.icon,anim:str.anim});
                            }
                        });
                        layer.close(index);     //关闭弹层
                        $("#table").bootstrapTable('refresh');
                        $.fn.zTree.init($("#treeDemo"), getSettting(), getMenuTree());
                    });
                    submit.trigger('click');
                },
                success:function (layero,index) {

                }
            });
		}


        //$("#postStatus").serializeObject is not a function 报错，引入该段代码解决
		$.fn.serializeObject = function()
        {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
             if (o[this.name]) {
              if (!o[this.name].push) {
               o[this.name] = [o[this.name]];
              }
              o[this.name].push(this.value || '');
             } else {
              o[this.name] = this.value || '';
             }
            });
            return o;
        };



    </script>
</body>
</html>
















