<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8"/>
    <title></title>
    <link href="static/js/bstable/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="static/css/table.css" rel="stylesheet" type="text/css">
    <link href="static/css/baidu.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/js/artDialog/skins/default.css" type="text/css"/>
    <link href="static/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" type="text/css" />
    <style>
    *{ margin:0; padding:0; list-style:none;}
    a{ text-decoration:none;}
    a:hover{ text-decoration:none;}
    .tcdPageCode{padding: 15px 20px;text-align: left;color: #ccc;}
    .tcdPageCode a{display: inline-block;color: #428bca;display: inline-block;height: 25px;	line-height: 25px;	padding: 0 10px;border: 1px solid #ddd;	margin: 0 2px;border-radius: 4px;vertical-align: middle;}
    .tcdPageCode a:hover{text-decoration: none;border: 1px solid #428bca;}
    .tcdPageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: #fff;background-color: #428bca;	border: 1px solid #428bca;border-radius: 4px;vertical-align: middle;}
    .tcdPageCode span.disabled{	display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;	color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;}
    </style>
</head>
<body style="background-color: #ecf0f5;font-family: 微软雅黑;color: #475059;min-width: 1000px;overflow: auto;">
<div class="notice_main" style="background-color: #ccc">
    <div class="myMap_left l_left">

        <div class="map" id="allmap"></div>
        <div class="notice">
            <p>青岛市 晴 18-20℃</p>

            <div class="map_btn"><span class="glyphicon glyphicon-fullscreen first"></span><span class="two">全屏</span>
            </div>
            <div class="map_btn"><span class="glyphicon glyphicon-wrench first"></span><span class="two">工具</span></div>
            <div class="map_btn"><span class="glyphicon glyphicon-search first"></span><span class="two">搜索</span></div>

            <div class="map_btn"><span class="glyphicon glyphicon-screenshot first"></span><span class="two">对比</span>
            </div>
            <div class="map_btn"><span class="glyphicon glyphicon-zoom-out first"></span><span class="two">放大</span>
            </div>
            <div class="map_btn"><span class="glyphicon glyphicon-zoom-in first"></span><span class="two">缩小</span>
            </div>
            <div class="map_btn"><span class="glyphicon glyphicon-pencil first"></span><span class="two">图层选择</span>
            </div>

        </div>
<!--        <div class="bill">-->
<!--            <p>功能菜单<span class="glyphicon glyphicon-chevron-up" id="listDown" onClick="listDown()"></span><span class="glyphicon glyphicon-chevron-down" id="listUp" onClick="listUp()" style="display: none"></span></p>-->
<!--            <ul style="background-color: rgb(84, 122, 169)" class="list">-->
<!--                <li>-->
<!--                    <input type="checkbox" name="person"><span>路灯</span>-->
<!--                    <div class="clear"></div>-->
<!--                </li>-->

<!--                <li>-->
<!--                    <input type="checkbox" name="video"><span>摄像头</span>-->
<!--                    <div class="clear"></div>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <input type="checkbox" name="hot"><span>热力图</span>-->
<!--                    <div class="clear"></div>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
    </div>
    <div class="myMap_right l_left">
        <div class="myMapNav">
            <ul>
                <li class="liActive">报警信息</li>
                <li>视频监控</li>
                <li>灯具检索</li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="myMapContent">
            <div class="warn box">
                <div class="EChart">
                    <div class="informationMain">
                        <ul id = "list">
<!--                            <li>-->
<!--                                <table id="table" class="table_style" style="margin: 0 auto" ></table>-->
<!--                            </li>-->
                        </ul>

                        <div class="tcdPageCode"></div>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
</div>

<div class="content"></div>
<div class="wrench content">
</div>
<div class="search content">
    <input type="text">
    <button class="glyphicon glyphicon-search"></button>
</div>
<script src="http://www.lanrenzhijia.com/ajaxjs/jquery.min.js"></script>
<script src="http://www.lanrenzhijia.com/ajaxjs/jquery.page.js"></script>
<script src="static/js/bstable/js/bootstrap.min.js"></script>
<script src="static/js/bstable/js/bootstrap-table.js"></script>
<script src="static/js/bstable/js/bootstrap-table-zh-CN.min.js"></script>
<script src="static/js/artDialog/artDialog.js"></script>
<script src="static/js/artDialog/plugins/iframeTools.source.js"></script>
<script type="text/javascript" src="static/js/ztree/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="static/js/ztree/jquery.ztree.excheck-3.5.js"></script>
<script type="text/javascript" src="static/js/ztree/jquery.ztree.exedit-3.5.js"></script>
<script src="static/js/listTree.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=5ieMMexWmzB9jivTq6oCRX9j"></script>
<script type="text/javascript"
        src="https://api.map.baidu.com/library/AreaRestriction/1.2/src/AreaRestriction_min.js"></script>
<script type="text/javascript"
        src="https://api.map.baidu.com/library/RectangleZoom/1.2/src/RectangleZoom_min.js"></script>
<script type="text/javascript"
        src="https://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
<script type="text/javascript"
        src="https://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js"></script>
<!--车辆轨迹-->
<script type="text/javascript"
        src="https://api.map.baidu.com/library/LuShu/1.2/src/LuShu_min.js"></script>
<!--热力图-->
<script type="text/javascript"
        src="https://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
<script src="static/js/baidu.js"></script>
<script type="text/javascript">

    var zTree, rMenu;
    var marker = undefined;
    var label = undefined;
    $(document).ready(function(){
        $.fn.zTree.init($("#treeDemo"), getSettting(), getMenuTree());

        zTree = $.fn.zTree.getZTreeObj("treeDemo");
        rMenu = $("#rMenu");
    });

    var pageSize = 7;
    show(1);
    //滚动插件
    function show( pageNo ){
        $.ajax({
        url: '/alarmListByalarmStatus/0',
        type: 'GET',
        dataType: 'json',
        success: function (result) {
            //请求成功时执行该函数内容，result即为服务器返回的json对象

            console.log(pageNo)

            $("#list").html('');
            var json = eval(result);
            var curAlarmType;
            var curAlarmStatus;


                $.each(json.data, function (index, value) {//index是循环的序数

                    switch(this.alarmType){
                        case 0:
                            curAlarmType = '湿度报警';

                            break;
                        case 1:
                            curAlarmType =  '温度报警';
                            break;
                        case 2:
                            curAlarmType =  '路灯电压报警';
                            break;
                        case 3:
                            curAlarmType =  '主板电压报警';
                            break;
                        case 4:
                            curAlarmType =  'GPS报警';
                            break;
                        case 5:
                            curAlarmType =  '路灯报警';
                            break;
                    }

                    if(this.alarmStatus == 0){
                        curAlarmStatus = '未处理';
                    }else {
                        curAlarmStatus = '已处理';
                    }


                    if(index >= pageSize * (pageNo-1) & index < pageSize * pageNo){
                        $("#list").html($("#list").html() +
                        "<li>"+
                            "<div>"+

                                "<p class=\"l_left text\" onClick=\"theLocation(1)\"> 设备编号：" + this.deviceSerial +"</p>"+
<!--                                "<span class=\"r_right\"><img src=\"static/img/find01.png\" onClick=\"theLocation()\"></span>"+-->
                                "<p class=\"r_right text1\" onClick=\"theLocation(2)\" style=\"color:red\"> 报警类型：" + curAlarmType +"</p>"+
                                "<div class=\"clear\"></div>"+
                            "</div>"+
                            "<p>地址：成都市高新区天华路211号</p>"+
                            "<div>"+
                                "<p class=\"l_left text\">报警时间：" + this.alarmTime + "</p>"+
<!--                                "<p class=\"r_right text1\" style=\"color:red\"> 处理状态：" + curAlarmStatus +"</p>"+-->
                                "<div class=\"clear\"></div>"+
                            "</div>"+
<!--                            "<p>" + this.alarmHandletime + "</p>"+-->
                        "</li>"
                        );

                        index = 0;
                    }

                });
            },
            error: function (errorMsg) {
                //请求失败时执行该函数
                alert("图表请求数据失败!");
            }
        });
    }



$(".tcdPageCode").createPage({
    pageCount:2,
    current:1,
    backFn:function(p){


        show(p);
    }
});



    function theLocation(id){


        map.clearOverlays();
        var new_point;
        if(id ==1 ){
            new_point = new BMap.Point(116.32490 , 39.80739  );
            var polyline = new BMap.Polyline([
                new BMap.Point(116.32535 , 39.79937 ),
                new_point,
                new BMap.Point(116.32442 , 39.81439 )
            ], {
                strokeColor: 'black',
                strokeWeight: 4,
                strokeOpacity: 0.5
            });


        }else {
            new_point = new BMap.Point(116.42490 , 39.90739  );
            var polyline = new BMap.Polyline([
                new BMap.Point(116.42535 , 39.89937 ),
                new_point,
                new BMap.Point(116.42442 , 39.91439 )
            ], {
                strokeColor: 'red',
                strokeWeight: 4,
                strokeOpacity: 0.5
            });


        }
        map.addOverlay(polyline);
        map.panTo(new_point);

    }





    $(function () {
        $('#table').bootstrapTable({
            method: "get",
            striped: true,
            singleSelect: false,
            url: "/deviceList",
            dataType: "json",
            pagination: true, //分页
            pageSize: 10,
            pageNumber: 1,
            search: false, //显示搜索框
            contentType: "application/x-www-form-urlencoded",
            queryParams:null,
            columns: [


                {
                    title: "物理地址",
                    field: 'deviceMac',
                    align: 'center',
                    width: 120,
                    valign: 'middle'
                }

            ]
        });
    });


    $(".map_btn").each(function (index) {
        $(this).click(function () {
            if ($(this).is('.color')) {
                $(this).removeClass("color");
                $(".content").eq(index).slideUp()
            } else {
                $(".map_btn").removeClass("color");
                $(this).addClass("color");
                $(".content").eq(index).slideDown().siblings(".content").slideUp()
            }

        })
    });

    $(".myMapNav ul li").each(function (index) {
        $(this).click(function () {
            $(this).addClass("liActive").siblings("li").removeClass("liActive");
            $(".myMapContent .box").eq(index).show().siblings("div").hide().stop()
        })
    });

    $(".specialNav ul li").each(function (index) {
        $(this).click(function () {
            $(".specialNav").hide();
            $(".specialInformation").eq(index).show().siblings(".specialInformation").hide()
        })
    });


    function back() {
        $(".specialInformation").hide();
        $(".specialNav").show()
    }

    function listDown(){
        $("#listDown").hide();
        $("#listUp").show();
        $(".list").slideUp();
    }
    function listUp(){
        $("#listUp").hide();
        $("#listDown").show();
        $(".list").slideDown();
    }
</script>

</body>
</html>
