
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
    <title></title>
    <link href="static/js/bstable/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="static/js/bstable/css/bootstrap-table.css" rel="stylesheet" type="text/css">
    <link href="static/css/table.css" rel="stylesheet" type="text/css">
    <style>
        .remark{   white-space: nowrap;
                   text-overflow:ellipsis;
                   overflow: hidden;
                   //display: -webkit-box;
                   -webkit-line-clamp: 2;
                   //-webkit-box-orient: vertical;
        }
        .rowSameHeight {
            white-space: nowrap;
            overflow: hidden;
        }
    </style>
</head>
<body style="background-color: #ecf0f5;font-family: 微软雅黑;color: #475059;min-width: 1000px;" >
<div class="notice_main">
    <h5>测试用户列表</h5>
    <div style="border-bottom: 1px #ccc solid;padding-bottom: 8px">
        <p style="line-height: 24px;font-size: 14px;padding: 4px 0 0 36px ;color:#bb8940;background-image: url(static/img/ts_03.png);background-repeat: no-repeat;background-position: 10px 8px;font-weight: bold">温馨提示</p>
        <ul class="ts">
            <li><span>*</span>用户管理界面</li>

        </ul>
    </div>
    <!--                            查找功能，未实现！                         -->
    <div class="notice_check">
        <label class="">用户名：</label> <input id="userName" type="text" class="find_input">
        <button class="check_btn" onclick="queryUserByUserName()">查询</button>
        <!--        <label class="">用户角色：</label> <input id="userRole" type="text" class="find_input">-->
        <!--        <button class="check_btn">查询</button>-->


        <div class="notice_nav r_right paddingBotme">
            <a class="btn btn-default" onclick="addUser()"><span class="glyphicon glyphicon-plus"></span>新增</a>
        </div>


    </div>



    <table id="table" class="table_style" style="word-wrap:break-all;word-break:break-all;table-layout:fixed;" > </table>
</div>
<script src="static/js/jquery/jQuery-2.2.0.min.js"></script>
<script src="static/js/bstable/js/bootstrap.min.js"></script>
<script src="static/js/bstable/js/bootstrap-table.js"></script>
<script src="static/js/bstable/js/bootstrap-table-zh-CN.min.js"></script>
<script src="static/js/layer_v2.1/layer/layer.js"></script>
<script src="static/layui/layui.js"></script>

<script>
    $(function () {
        var userArea;
        $.ajax({
            url: '/getUser',
            type: 'GET',
            dataType: 'json',
            //开启同步可赋值
            async:false,
            success: function (result) {

                    console.log(result);
                    userArea  = result.userArea ;//修改


                }
        })
        //初始化表格，未传参数，查询所有
        userList("/userListByuserArg/","-1&",-1);

    });

    function queryUserByUserName(){

        //获取查询参数
        var e =$("#userName").val();

        //调用查询方法，判空
        if(e == ""){
            userList("/userListByuserArg/","-1&",-1);

        }else{
            userList("/userListByuserArg/","1&", e );

        }

    }



    function userList(myUrl,type,arg){
        $('#table').bootstrapTable('destroy');
        $('#table').bootstrapTable({
            method: "get",
            striped: true,
            singleSelect: false,
            url: myUrl + type + arg,
            dataType: "json",
            pagination: true, //分页
            pageSize: 10,
            pageNumber: 1,
            search: false, //显示搜索框
            contentType: "application/x-www-form-urlencoded",
            queryParams:null,
            columns: [
                {
                    checkbox: "true",
                    field: 'check',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    title: "用户名",
                    field: 'userName',
                    align: 'center',
                    width: 50,
                    valign: 'middle'
                },
                {
                    title: '用户角色',
                    field: 'userRole',
                    align: 'center',
                    width: 60,
                    formatter: function (cellval, row) {
                        var e;

                        //ajax异步请求数据不执行，async属性为false，为同步请求，true为异步请求，可能会跳过。
                        $.ajax({
                            url: '/queryRoleById/'+cellval,
                            dataType:'json',
                            type:'GET',
                            cache:false,
                            async:false,                            //!!!!!
                            success:function (data) {
                                 e = data.roleName

                            }
                        });

                        return e;
                    }
                },
                {
                    title: '负责区域',
                    field: 'userArea',
                    align: 'center',
                    width: 60,
                    formatter: function (cellval, row) {
                        var e;

                        //ajax异步请求数据不执行，async属性为false，为同步请求，true为异步请求，可能会跳过。
                        $.ajax({
                            url: '/areaListByareaId/'+cellval,//传递值为list，选取第一位在取值
                            dataType:'json',
                            type:'GET',
                            cache:false,
                            async:false,                            //!!!!!
                            success:function (data) {
<!--                                console.log(data);-->
                                e = data[0].areaName

                            }
                        });
                        return e;
                    }
                },
                {
                    title: '创建人',
                    field: 'userBuilder',
                    align: 'center',
                    width: 60,
                    formatter: function (cellval, row) {
                        var e;

                        //ajax异步请求数据不执行，async属性为false，为同步请求，true为异步请求，可能会跳过。
                        $.ajax({
                            url: '/queryUserById/'+cellval,
                            dataType:'json',
                            type:'GET',
                            cache:false,
                            async:false,                            //!!!!!
                            success:function (data) {
                                 e = data.userName

                            }
                        });

                        return e;

                    }


                },
                {
                    title: '创建时间',
                    field: 'userCreatetime',
                    align: 'center',
                    width: 80,
                    valign: 'middle'
                },
                {
                    title: '更新时间',
                    field: 'userUpdatetime',
                    align: 'center',
                    width: 80,
                    valign: 'middle'
                },
                {
                    title: '操作',
                    width: 100,
                    align: 'center',
                    formatter: function (cellval, row ,index) {
                        var e = '<a style="margin: 2;width:80" class="btn btn-xs btn-success"  onclick="editUserInfo('+row.userId+')" ><span class="glyphicon glyphicon-pencil"></span> 编辑</a>'
                        var f = '<a style="margin: 2;width:80" class="btn btn-xs btn-danger"  onclick="deleteUser('+row.userId+')"><span class="glyphicon glyphicon-pencil"></span> 删除</a>'

                        return  e + f;
                    }
                },





            ]
        });
    }

    function editUserInfo(userId){

        console.log(userId);
        layer.open({
            type: 2,
            title: '测试编辑用户',
            content: '/testUserEditPage/' + userId,
            shade:[0.8,'#393d49'],
            area:['500px','450px'],
            btn:['确定','取消'],
            yes:function (index,layero) {
                var iframeWindow = window['layui-layer-iframe'+index];
                var submit = layero.find('iframe').contents().find("#LAY-front-submit");
                //监听提交
                iframeWindow.layui.form.on('submit(LAY-front-submit)',function (data) {
                    //返回数据，操作数据
                    var field = data.field;
                    var state = false;//判断是否满足条件

                    console.log(field);
                    roleLevel = getRoleLevel(field.userRole);//获取用户角色等级

                    if(field.userAreaLevel == -1 || field.userAreaLevel == "" || field.userAreaLevel == null){//判断是否选择负责区域
                        console.log("未选择");
                        layer.msg("未选择负责区域信息",{icon:0,anim:6});

                        state = false;
                    }else if( parseInt(roleLevel-2) != parseInt(field.userAreaLevel) ){//判断用户角色和负责区域是否匹配
                        console.log("不匹配");
                        layer.msg("负责区域与用户角色不匹配",{icon:0,anim:6});
                        state = false;
                    }else if( parseInt(roleLevel-2) == parseInt(field.userAreaLevel) ){//判断用户角色和负责区域是否匹配
                        console.log("匹配");
                        state = true;
                    }

                    //如果匹配，关闭弹层，添加数据
                    if(state){
                        //关闭弹层
                        layer.close(index);

                        //添加数据
                        $.ajax({
                            url: '/userEdit',
                            type: 'GET',
                            dataType: 'json',
                            data:field,
                            success: function (result) {
                                $("#table").bootstrapTable('refresh');
                            }
                        })

                        //$.fn.zTree.init($("#treeDemo"), getSettting(), getMenuTree());
                    }





                });
                submit.trigger('click');
            },
            success:function (layero,index) {

            }
        });

    }


    function deleteUser(userId){

        layer.confirm('确认删除?', {icon: 3, title:'提示'}, function(index){
        //do something
        $.ajax({
              url: '/userDelete/'+userId,
              type: 'post',
              dataType: 'text',
              success: function (result) {
                    $("#table").bootstrapTable('refresh');
              }
          })

        layer.close(index);
        });

    }

    function addUser(){
        layer.open({
            type: 2,
            title: '测试新增用户',
            content: '/testUserAddPage',
            shade:[0.8,'#393d49'],
            area:['500px','450px'],
            btn:['确定','取消'],
            yes:function (index,layero) {
                var iframeWindow = window['layui-layer-iframe'+index];
                var submit = layero.find('iframe').contents().find("#LAY-front-submit");
                //监听提交
                iframeWindow.layui.form.on('submit(LAY-front-submit)',function (data) {//data接收到的是form表单的数据，是不包含额外数据的。
                    var field = data.field;
                    var state = false;//判断是否满足条件


                    roleLevel = getRoleLevel(field.userRole);//获取用户角色等级

                    if(field.userAreaLevel == -1 || field.userAreaLevel == "" || field.userAreaLevel == null){//判断是否选择负责区域
                        console.log("未选择");
                        layer.msg("未选择负责区域信息",{icon:0,anim:6});

                        state = false;
                    }else if( parseInt(roleLevel-2) != parseInt(field.userAreaLevel) ){//判断用户角色和负责区域是否匹配
                        console.log("不匹配");
                        layer.msg("负责区域与用户角色不匹配",{icon:0,anim:6});
                        state = false;
                    }else if( parseInt(roleLevel-2) == parseInt(field.userAreaLevel) ){//判断用户角色和负责区域是否匹配
                        console.log("匹配");
                        state = true;
                    }

                    //如果匹配，关闭弹层，添加数据
                    if(state){
                        //关闭弹层
                        layer.close(index);

                        //添加数据
                        $.ajax({
                            url: '/userAdd',
                            type: 'GET',
                            dataType: 'json',
                            data:field,
                            success: function (result) {
                                $("#table").bootstrapTable('refresh');
                            }
                        })

                        //$.fn.zTree.init($("#treeDemo"), getSettting(), getMenuTree());
                    }


                });
                submit.trigger('click');
            },
            success:function (layero,index) {

            }
        });
    }

    function getRoleLevel(roleId){
		    var roleLevel;
		    $.ajax({
                url: '/queryRoleById/'+roleId,
                type: 'GET',
                dataType: 'json',
                //开启同步可赋值
                async:false,
                success: function (result) {
                    roleLevel  = result.roleLevel;//修改
                }
            })
            return roleLevel;

		}




</script>
</body>
</html>
