<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑用户</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/css/ztree/zTreeStyle/zTreeStyle.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/css/ztree/demo.css}" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form layui-form-pane" action="" id="form">
                <input name="userId" th:value="${obj?.userId}" class="layui-input layui-hide"/>


                <div class="layui-form-item">
                    <label class="layui-form-label">用户名称：</label>
                    <div class="layui-input-block">
                        <input type="text" id="userName" name="userName" th:value="${obj?.userName}" lay-verify="required"  autocomplete="off" class="layui-input" onblur="checkUserName(this.value)">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">用户角色：</label>
                    <div class="layui-input-block">
                        <select id="userRole" name="userRole" lay-search lay-filter="demo"></select>
                    </div>
                </div>

                <div class="layui-form-item" id="area" >
                    <label class="layui-form-label">负责区域</label>
                    <div class="col-md-10" >
                        <ul id="treeDemo" class="ztree"   ></ul>
                    </div>
                </div>

                <input id="userArea" name="userArea" class="layui-input layui-hide"/>

                <div class="layui-form-item layui-hide">
                    <input type="button" lay-submit lay-filter="LAY-front-submit" id="LAY-front-submit" onclick="add()" value="确认">
                </div>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/static/js/jquery/jQuery-2.2.0.min.js}"></script>
<script th:src="@{/static/js/bstable/js/bootstrap.min.js}"></script>
<script th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/js/ztree/jquery.ztree.core-3.5.js}"></script>
<script type="text/javascript" th:src="@{/static/js/ztree/jquery.ztree.excheck-3.5.js}"></script>
<script type="text/javascript" th:src="@{/static/js/ztree/jquery.ztree.exedit-3.5.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrapValidator.min.js}"></script>
<!-- 自定义函数 -->
<script th:src="@{/static/js/light/user/areaZtree.js}"></script>
<script>

    layui.use(['form','laydate'],function () {
            var $ = layui.$;
            var laydate = layui.laydate;
            var form = layui.form;

            //获取角色列表，应该是不包括自身角色，首先获取自身角色，然后获取其他角色
            var userRoleLevel;
            $.ajax({
                url: '/getUser',
                type: 'GET',
                dataType: 'json',
                //开启同步可赋值
                async:false,
                success: function (result) {

                        userRoleLevel  = result.userRoleLevel ;//修改
                        //如果是系统管理员，不显示区域列表
                        if( userRoleLevel < 3 ){//如果是管理员，显示区域列表
                            $("#area").hide();
                        }else {
                            $("#area").show();
                        }

                }
            })

            //获取角色列表
            $.ajax({
                url: '/roleList',
                dataType:'json',
                type:'GET',
                cache:false,
                success:function (data) {

                    //清空列表
                    var select = $("#userRole");

                    for(var i=0; i<data.length; i++){
                        var d = data[i];
                        var id = d['roleId'];
                        var level = d['roleLevel'];
                        var name = d['roleName'];

                        if( level > userRoleLevel ){//填充级别低于当前用户角色等级的角色
                            select.append("<option value='"+id+"' >"+name+"</option>");
                        }
                    }
                    layui.form.render("select");          //下拉列表渲染，把内容加载进去
                }
            });

            //监听下拉列表，获取角色等级，如果是管理员，不显示区域列表
            form.on('select(demo)', function(data){
                var roleId = $("#userRole").val(); //得到被选中的值

                //根据角色等级获取区域列表
                roleLevel = getRoleLevel(roleId);

                if(roleLevel <= 2){
                    $("#area").hide();
                }else{
                    $("#area").show();
                    //初始化区域树，按照角色等级获取区域等级，然后减去2，就是区域树的等级
                    initMenuTree(roleLevel-2);
                }

            });

            //初始化区域树，根据当前用户角色等级获取区域等级，然后减去1，就是区域树的最大等级
            initMenuTree(userRoleLevel-1);
        });

        //新增用户
        function add() {
            //保存用户信息的同时保存负责区域信息

            var user = $("#form").serializeObject();
            user.userArea = getCheckedMenuIds()[0];


            //对user进行空值判断
            if(user.userName == null || user.userName == "" || user.userArea == null || user.userArea == ""){

            }else{
                roleLevel = getRoleLevel(user.userRole);

                user.userAreaLevel = getCheckedMenuIds()[1];

                //对用户角色和负责区域比较
                if((roleLevel-3) != user.userAreaLevel){//如果角色和区域不匹配

                    $("#userArea").val(-1);

                } else {//如果角色和区域匹配
                    //设置关闭弹窗信息
                    $("#userArea").val(0);
                    //提交表单,保存用户信息
                    $.ajax({
                        type : 'GET',
                        url : '/userAdd',
                        dataType: 'json',
                        data : user,
                        async: false,
                        success: function (str) {
                            if(str.code === 0){

                            }
                            layer.msg(str.msg,{icon:str.icon,anim:str.anim});
                        }
                    });
                }


            }


		}

		function getRoleLevel(roleId){
		    var roleLevel;
		    $.ajax({
                url: '/queryRoleById/'+roleId,
                type: 'GET',
                dataType: 'json',
                //开启同步可赋值
                async:false,
                success: function (result) {
                    roleLevel  = result.roleLevel;//修改
                }
            })
            return roleLevel;

		}

        //解决表单提交序列化问题，
        //$("#postStatus").serializeObject is not a function 报错，引入该段代码解决
		$.fn.serializeObject = function()
        {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
             if (o[this.name]) {
              if (!o[this.name].push) {
               o[this.name] = [o[this.name]];
              }
              o[this.name].push(this.value || '');
             } else {
              o[this.name] = this.value || '';
             }
            });
            return o;
        };

        //校验用户名
        function checkUserName(value) {
            //使用正则表达式校验用户名
            //只能由英文字母和数字组成，长度为4～16个字符，并且以英文字母开头
            //1. 编写一个正则表达式
            var reg = /^[a-zA-Z][a-zA-Z0-9]{3,15}$/
            //2. 使用正则表达式取校验用户名

            console.log(value);
            if(value.length <= 0){
                console.log("value.length <= 0");

            }else {
                if (reg.test(value)) {

                    //查询用户名是否已使用
                    $.ajax({
                        //准确查找
                        url: '/querySingleUserByName/' + value,

                        async: false,
                        cache: false,
                        success: function (str) {

                            console.log("str" + str);

                            if(str == -1){//找到重复的
                                layer.msg("用户名已被使用",{icon:0,anim:6});
                                document.getElementById("userName").focus();
                            }else{
                                layer.msg("用户名合法",{icon:6,anim:4});
                            }

                        }
                    });

                }else {
                    layer.msg("用户名不合法，请重新输入",{icon:2,anim:6});
                    document.getElementById("userName").focus();
                }
            }

        }
        //校验手机号码
        function checkUserPhone(value) {
            //使用正则表达式校验
            //11位数字，以1开头。
            //1. 编写一个正则表达式
            var reg = /^(13[0-9]|14[01456879]|15[0-35-9]|16[2567]|17[0-8]|18[0-9]|19[0-35-9])\d{8}$/;
            //2. 使用正则表达式取校验
            if(value.length <= 0){
                console.log("value.length <= 0");

            }else {
                if (reg.test(value)) {

                    layer.msg("手机号码合法",{icon:6,anim:4});

                }else {
                    layer.msg("手机号码不合法，请重新输入",{icon:2,anim:6});
                    document.getElementById("userPhone").focus();;
                }
            }
        }
        //校验邮箱
        function checkUserEmail(value) {
            //使用正则表达式校验
            //姑且把邮箱地址分成“第一部分@第二部分”这样。第一部分：由字母、数字、下划线、短线“-”、点号“.”组成；第二部分：为一个域名，域名由字母、数字、
            //短线“-”、域名后缀组成，而域名后缀一般为.xxx或.xxx.xx，一区的域名后缀一般为2-4位，如cn、com、net，现在域名有的也会大于4位

            //1. 编写一个正则表达式
            var reg = /^(\w-*\.*)+@(\w-?)+(\.\w{2,})+$/
            //2. 使用正则表达式取校验
            if(value.length <= 0){
                console.log("value.length <= 0");

            }else {
                if (reg.test(value)) {

                    layer.msg("邮箱合法",{icon:6,anim:4});

                }else {
                    layer.msg("邮箱不合法，请重新输入",{icon:2,anim:6});
                    document.getElementById("userEmail").focus();;
                }
            }
        }



    </script>
</body>
</html>
















