<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑区域</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/css/ztree/zTreeStyle/zTreeStyle.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/css/ztree/demo.css}" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form layui-form-pane" action="" id="form">
                <input name="areaId" th:value="${obj?.areaId}" class="layui-input layui-hide"/>
                <div class="layui-form-item">
                    <label class="layui-form-label">区域名称：</label>
                    <div class="layui-input-block">
                        <input type="text" name="areaName" th:value="${obj?.areaName}" lay-verify="required" placeholder="请输入区域名称" autocomplete="off" class="layui-input">
                    </div>
                </div>

<!--                <div class="layui-form-item">-->
<!--                    <label class="layui-form-label">区域级别：</label>-->
<!--                    <div class="layui-input-block">-->
<!--                        <select id="areaLevel" name="areaLevel" lay-verify="required" lay-filter="demo">-->
<!--                            <option value="1">省</option>-->
<!--                            <option value="2">市</option>-->
<!--                            <option value="3">区县</option>-->
<!--                            <option value="4">路段</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->



                <input id="parentId" name="parentId" th:value="${obj?.parentId}" class="layui-input layui-hide"/>
                <div class="layui-form-item">
                    <label class="layui-form-label">上级区域：</label>
                    <div class="col-md-10">
                        <ul id="treeDemo" class="ztree" name="userArea1"  ></ul>
                    </div>
                </div>

<!--                <input name="parentId" th:value="${obj?.parentId}" class="layui-input layui-hide"/>-->
<!--                <div class="layui-form-item">-->
<!--                    <label class="layui-form-label">上级区域：</label>-->
<!--                    <div class="layui-input-block">-->
<!--                        <input type="text"  name="parentName" th:value="${obj?.parentId}" lay-verify="required"  autocomplete="off" class="layui-input" disabled>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="layui-form-item">-->
<!--                    <label class="layui-form-label">区域级别：</label>-->
<!--                    <div class="layui-input-block">-->
<!--                        <input type="text" id="areaLevel" th:value="${obj?.areaLevel}"  lay-verify="required"  autocomplete="off" class="layui-input" disabled>-->

<!--                    </div>-->
<!--                </div>-->

<!--                <div class="layui-form-item">-->
<!--                    <label class="layui-form-label">区域位次：</label>-->
<!--                    <div class="layui-input-block">-->
<!--                        <input type="text" id="areaRank" th:value="${obj?.areaRank}"  lay-verify="required"  autocomplete="off" class="layui-input" disabled>-->

<!--                    </div>-->
<!--                </div>-->

<!--                <div class="layui-form-item" >-->
<!--                    <label class="layui-form-label" style="padding: 8px 4px;">区域序列号：</label>-->
<!--                    <div class="layui-input-block">-->
<!--                        <input type="text" id="areaSerial" th:value="${obj?.areaSerial}"  lay-verify="required"  autocomplete="off" class="layui-input" disabled>-->

<!--                    </div>-->
<!--                </div>-->
                <input name="parentName" th:value="${parentName}" class="layui-input layui-hide"/>

                <div class="layui-form-item">
                    <label class="layui-form-label">经度：</label>
                    <div class="layui-input-block">
                        <input type="text" name="areaLon" th:value="${obj?.areaLon}" lay-verify="required" placeholder="请输入区域经度" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">纬度：</label>
                    <div class="layui-input-block">
                        <input type="text" name="areaLat" th:value="${obj?.areaLat}" lay-verify="required" placeholder="请输入区域纬度" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <input type="button"  lay-filter="getLocation" id="getLocation" value="获取经纬度">
                </div>



                <div class="layui-form-item layui-hide">
                    <input type="button" lay-submit lay-filter="LAY-front-submit" id="LAY-front-submit" onclick="add()" value="确认">
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/static/js/jquery/jQuery-2.2.0.min.js}"></script>
<script th:src="@{/static/js/bstable/js/bootstrap.min.js}"></script>
<script th:src="@{/static/layui/layui.js}"></script>
<script th:src="@{/static/js/light/user/areaZtree.js}"></script>
<script type="text/javascript" th:src="@{/static/js/ztree/jquery.ztree.core-3.5.js}"></script>
<script type="text/javascript" th:src="@{/static/js/ztree/jquery.ztree.excheck-3.5.js}"></script>
<script type="text/javascript" th:src="@{/static/js/ztree/jquery.ztree.exedit-3.5.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrapValidator.min.js}"></script>
<script>

    layui.use(['form','laydate'],function () {
            var $ = layui.$;
            var laydate = layui.laydate;
            var form = layui.form;

        });


        //构造区域目录树形结构
        $.fn.zTree.init($("#treeDemo"), getSettting(), getMenuTree());

        var parentId = $("#parentId").val();
        console.log(parentId);

        initMenuDatas(parentId);

        function add() {
            //保存用户信息的同时保存负责区域信息

            var area = $("#form").serializeObject();
            console.log(getCheckedMenuIds());
            var temp = getCheckedMenuIds();//[父节点编号，父节点的级别]
            area.parentId = temp[0];
            area.areaLevel = temp[1]+1;//temp返回的是父节点的级别，所以加一
<!--            user.userArea = getCheckedMenuIds();-->
<!--            console.log("user:" + user.userArea);-->



            $.ajax({
				type : 'GET',
				url : '/areaEdit',
				dataType: 'json',
				data : area,
				async: false,
                success: function (str) {
                    if(str.code === 0){

                    }
                    layer.msg(str.msg,{icon:str.icon,anim:str.anim});
                }
			});
		}

        //$("#postStatus").serializeObject is not a function 报错，引入该段代码解决
		$.fn.serializeObject = function()
        {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
             if (o[this.name]) {
              if (!o[this.name].push) {
               o[this.name] = [o[this.name]];
              }
              o[this.name].push(this.value || '');
             } else {
              o[this.name] = this.value || '';
             }
            });
            return o;
        };

    /**
     * 获取区域的经纬度
     */
    $('#getLocation').on('click', function() {
        // 获取输入框的值
        var areaName = $('input[name="areaName"]').val();
        var parentName = $('input[name="parentName"]').val();
        var pathName = parentName + areaName;
        console.log("经纬度请求获取："+pathName);
        var apiUrl = "http://api.map.baidu.com/geocoding/v3/";
        var apiKey = "iduvzqDgfsZnhN1vi9HqaIbFgFqY84sT"
        var requestUrl = apiUrl + "?address=" + encodeURIComponent(pathName) + "&output=json&ak=" + apiKey;
        // 发送JSONP请求
        $.ajax({
            url: requestUrl,
            dataType: 'jsonp',
            success: function(data) {
                // 解析 API 返回结果，提取经纬度信息
                var status = data.status;
                if (status === 0) {
                    var result = data.result;
                    var location = result.location;
                    var longitude = location.lng;//经度
                    longitude = longitude.toFixed(4);
                    var latitude = location.lat;//纬度
                    latitude = latitude.toFixed(4);
                    console.log("经度为"+longitude);
                    console.log("纬度为"+latitude);
                    $('input[name="areaLon"]').val(longitude);
                    $('input[name="areaLat"]').val(latitude);
                } else {
                    console.log("地理编码失败");
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log("请求地理编码服务出错:", textStatus, errorThrown);
            }
        });
    });
    </script>
</body>
</html>
















