<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增区域</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all">
    <!--    <link rel="stylesheet" th:href="@{/static/admin/style.css}" media="all">-->
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form layui-form-pane" action="">
                <input name="areaId" class="layui-input layui-hide"/>
                <div class="layui-form-item">
                    <label class="layui-form-label">区域名称：</label>
                    <div class="layui-input-block">
                        <input type="text" name="areaName"  lay-verify="required" placeholder="请输入区域名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                
                <input name="parentId" th:value="${obj?.areaId}" class="layui-input layui-hide"/>
                <div class="layui-form-item">
                    <label class="layui-form-label">上级区域：</label>
                    <div class="layui-input-block">
                        <input type="text"  name="parentName" th:value="${obj?.areaName}" lay-verify="required"  autocomplete="off" class="layui-input" disabled>
                    </div>
                </div>

                <input name="areaLevel" th:value="${obj?.areaLevel+1}" class="layui-input layui-hide"/>
                <div class="layui-form-item">
                    <label class="layui-form-label">区域级别：</label>
                    <div class="layui-input-block">
                        <input type="text" id="areaLevel"   lay-verify="required"  autocomplete="off" class="layui-input" disabled>

                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">经度：</label>
                    <div class="layui-input-block">
                        <input type="text" name="areaLon" lay-verify="required" placeholder="请输入区域经度" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">纬度：</label>
                    <div class="layui-input-block">
                        <input type="text" name="areaLat" lay-verify="required" placeholder="请输入区域纬度" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <input type="button"  lay-filter="getLocation" id="getLocation" value="获取经纬度">
                </div>

                <div class="layui-form-item layui-hide">
                    <input type="button" lay-submit lay-filter="LAY-front-submit" id="LAY-front-submit" value="确认">
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/static/js/jquery/jQuery-2.2.0.min.js}"></script>
<script th:src="@{/static/js/bstable/js/bootstrap.min.js}"></script>
<script th:src="@{/static/layui/layui.js}"></script>
<script>

    layui.use(['form','laydate'],function () {
            var $ = layui.$;
            var laydate = layui.laydate;
            var form = layui.form;

            //获取区域级别
            var areaLevel = '[[${obj?.areaLevel+1}]]';
            console.log("areaLevel:"+areaLevel);

            switch( areaLevel ){
                case '1':
                    $("#areaLevel").val("省级");
                    break;
                case '2':
                    $("#areaLevel").val("市级");
                    break;
                case '3':
                    $("#areaLevel").val("区县级");
                    break;
                case '4':
                    $("#areaLevel").val("乡镇级");
                    break;
                case '5':
                    $("#areaLevel").val("街道级");
                    break;
                default:
                    break;
            }
        });
    /**
     * 获取新添加区域的经纬度
     */
    $('#getLocation').on('click', function() {
        // 获取输入框的值
        var areaName = $('input[name="areaName"]').val();
        var parentName = $('input[name="parentName"]').val();
        var pathName = parentName + areaName;
        console.log("经纬度请求获取："+pathName);
        var apiUrl = "https://api.map.baidu.com/geocoding/v3/";
        var apiKey = "iduvzqDgfsZnhN1vi9HqaIbFgFqY84sT"
        var requestUrl = apiUrl + "?address=" + encodeURIComponent(pathName) + "&output=json&ak=" + apiKey;
        // 发送JSONP请求
        $.ajax({
            url: requestUrl,
            dataType: 'jsonp',
            success: function(data) {
                // 解析 API 返回结果，提取经纬度信息
                var status = data.status;
                if (status === 0) {
                    var result = data.result;
                    var location = result.location;
                    var longitude = location.lng;//经度
                    longitude = longitude.toFixed(4);
                    var latitude = location.lat;//纬度
                    latitude = latitude.toFixed(4);
                    console.log("经度为"+longitude);
                    console.log("纬度为"+latitude);
                    $('input[name="areaLon"]').val(longitude);
                    $('input[name="areaLat"]').val(latitude);
                } else {
                    console.log("地理编码失败");
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log("请求地理编码服务出错:", textStatus, errorThrown);
            }
        });
    });


    </script>
</body>
</html>
















