
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
    <title></title>
    <link href="static/js/bstable/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="static/js/bstable/css/bootstrap-table.css" rel="stylesheet" type="text/css">
    <link href="static/css/table.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/css/ztree/jquery.treetable.css" />
    <link rel="stylesheet" href="static/css/ztree/jquery.treetable.theme.default.css" />
<!--    <link rel="stylesheet" type="text/css" media="screen" href="static/layui/css/layui.css">-->
    <style>

    </style>
</head>
<body style="background-color: #ecf0f5;font-family: 微软雅黑;color: #475059;min-width: 1000px;" >
<div class="notice_main">
    <h5>菜单列表</h5>
    <div style="border-bottom: 1px #ccc solid;padding-bottom: 8px">
        <p style="line-height: 24px;font-size: 14px;padding: 4px 0 0 36px ;color:#bb8940;background-image: url(static/img/ts_03.png);background-repeat: no-repeat;background-position: 10px 8px;font-weight: bold">温馨提示</p>
        <ul class="ts">
            <li><span>*</span>该页面主要显示的是所有菜单项的信息</li>

        </ul>
    </div>
    <!--                            查找功能，未实现！                         -->
    <!--    <div class="notice_check">-->
    <!--        <label class="">数据编号：</label> <input type="text" class="find_input">-->
    <!--        <label class="">数据名称：</label> <input type="text" class="find_input">-->
    <!--        <label class="">上传时间：</label> <input type="date" class="find_input">-->

    <!--        <button class="check_btn">查询</button>-->


    <!--    </div>-->
    <div class="notice_check">
        <div class="notice_nav r_right paddingBotme">

            <a class="btn btn-default" onclick="addMenu()"><span class="glyphicon glyphicon-plus"></span>新增</a>



        </div>
    </div>
<!--    <table id="table" class="table_style" style="word-wrap:break-all;word-break:break-all;table-layout:fixed;" > </table>-->
    <table id="table" class="table table-striped table-bordered table-hover" style="width:100%">
        <tr>
            <th width="80">名称</th>
            <th width="80">编号</th>
            <th width="80">上级编号</th>
            <th width="80">URL链接</th>
            <th width="80">权限</th>
            <th width="80">排序</th>
            <th width="20%">操作</th>
        </tr>
    </table>
</div>
<script src="static/js/jquery/jQuery-2.2.0.min.js"></script>
<script src="static/js/bstable/js/bootstrap.min.js"></script>
<script src="static/js/bstable/js/bootstrap-table.js"></script>
<script src="static/js/bstable/js/bootstrap-table-zh-CN.min.js"></script>
<script src="static/js/layer_v2.1/layer/layer.js"></script>
<script src="static/layui/layui.js"></script>
<script src="static/js/ztree/jquery.treetable.js"></script>
<!--<script src="static/js/index.js"></script>-->

<script>
initMenuList();

    function initMenuList() {
        $.ajax({
            type : 'get',
            url : '/permission/current',
            contentType: "application/json; charset=utf-8",
            async:false,
            success : function(data) {

                $("#table tr:not(:first)").remove();

                var length = data.length;
                for(var i=0; i<length; i++){
                    var d = data[i];
                    var tr = "<tr data-tt-id='" + d['id'] + "' data-tt-parent-id='" + d['parentId'] + "'>";

                    var td1 = "<td>" + d['name'] +"</td>";
                    tr += td1;

                    var id = "<td>" + d['id'] +"</td>";
                    tr += id;

                    var pd = "<td>" + d['parentId'] +"</td>";
                    tr += pd;

                    var href = "";
                    if(d['href'] != null){
                        href = d['href'];
                    }
                    var td2 = "<td>" + href +"</td>";
                    tr += td2;

                    var permission = d['permission'];
                    if(permission == null){
                        permission = "";
                    }

                    var td3 = "<td>" + permission +"</td>";
                    tr += td3;

                    var sort = d['sort'];
                    if(sort == 0){
                        sort = "";
                    }

                    var td4 = "<td>" + sort +"</td>";
                    tr += td4;

                    var id = d['id'];

                    var edit = '<a style="margin: 2;width:80" class="btn btn-xs btn-success"  onclick="editMenuInfo('+id+')" ><span class="glyphicon glyphicon-pencil" style="padding:0px;"></span> 编辑</a>'
                    var del = '<a style="margin: 2;width:80" class="btn btn-xs btn-danger"  onclick="deleteMenu('+id+')"><span class="glyphicon glyphicon-pencil" style="padding:0px;"></span> 删除</a>'
                    tr += "<td>"+edit + del+"</td>";
                    tr += "</tr>"
                    $("#table").append(tr);

                }
            }
        });

        var option = {
            expandable : true,
            clickableNodeNames : true,
            onNodeExpand : function() {

            },
            onNodeCollapse : function() {

            }
        };

        $("#table").treetable(option,true);

    }

    function deleteMenu(id){

        //删除逻辑：查询是否有子节点（parentId列有该节点的编号），如果有，则无法删除该节点，提示先删除所有子节点；如果无，则删除
        layui.use('layer',function(){
            layer = layui.layer;
            layer.confirm('确认删除?', {icon: 3, title:'提示'}, function(index){
                //do something
                $.ajax({
                    url: '/menuDelete/'+id,
                    type: 'post',
                    dataType: 'json',//dataType为“text”会导致数据获取不到

                    async: false,
                    cache: false,
                    success: function (str) {

                        console.log(str);
                        var i = str.code;
                        console.log(i);

                        layer.msg(str.msg,{icon:str.icon,anim:str.anim});

                        initMenuList();
                    }
                })

<!--                layer.close(index);-->

            });

        })


    }


    function addMenu(){
        layer.open({
            type: 2,
            title: '新增菜单项',
            content: '/menuAddPage',
            shade:[0.8,'#393d49'],
            area:['500px','450px'],
            btn:['确定','取消'],
            yes:function (index,layero) {
                var iframeWindow = window['layui-layer-iframe'+index];
                var submit = layero.find('iframe').contents().find("#LAY-front-submit");
                //监听提交
                iframeWindow.layui.form.on('submit(LAY-front-submit)',function (data) {
                    var field = data.field;

                    $.ajax({
                        url: '/menuAdd',
                        data: field,
                        async: false,
                        cache: false,
                        success: function (str) {
                            if(str.code === 0){
                                console.log(1111);
                            }
                            layer.msg(str.msg,{icon:str.icon,anim:str.anim});
                        }
                    });


                    layer.close(index);     //关闭弹层
                    initMenuList();         //更新列表
                });
                submit.trigger('click');
            },
            success:function (layero,index) {

            }
        });
    }

function editMenuInfo(id){

        layer.open({
            type: 2,
            title: '编辑菜单项',
            content: '/menuEditPage/' + id,
            shade:[0.8,'#393d49'],
            area:['500px','530px'],
            btn:['确定','取消'],
            yes:function (index,layero) {
                var iframeWindow = window['layui-layer-iframe'+index];
                var submit = layero.find('iframe').contents().find("#LAY-front-submit");
                //监听提交
                iframeWindow.layui.form.on('submit(LAY-front-submit)',function (data) {
                    var field = data.field;

                    $.ajax({
                        url: '/menuEdit',
                        data: field,
                        async: false,
                        cache: false,
                        success: function (str) {
                            if(str.code === 0){
                                console.log(1111);
                            }
                            layer.msg(str.msg,{icon:str.icon,anim:str.anim});
                        }
                    });

                    layer.close(index);     //关闭弹层

                    initMenuList();         //更新列表

                });
                submit.trigger('click');
            },
            success:function (layero,index) {

            }
        });

    }

</script>
</body>
</html>
