//生成一个网页
<html>
<head>
    <title>测试</title>
</head>
<body>
    <h1>测试</h1>
    <p>这是一个测试网页</p>
<!--生成一个网页，作为智能路灯的控制页面，包含两个按钮，点击触发开灯和关灯函数-->
    <button onclick="open()">开灯</button>
    <button onclick="close()">关灯</button>



</body>
<script>
        function open() {
            alert("开灯");
            //ajax访问后台接口，控制开灯
            $.ajax({
                url: "http://localhost:8080/open",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    alert("开灯成功");
                },
                error: function (data) {
                    alert("开灯失败");
                }
            });
        }
        function close() {
            alert("关灯");
            //ajax访问后台接口，控制关灯
            $.ajax({
                url: "http://localhost:8080/close",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    alert("关灯成功");
                },
                error: function (data) {
                    alert("关灯失败");
                }
            });

        }
</script>
</html>