
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
    <title></title>
    <link href="static/js/bstable/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="static/js/bstable/css/bootstrap-table.css" rel="stylesheet" type="text/css">
    <link href="static/css/table.css" rel="stylesheet" type="text/css">
    <style>
        .remark{   white-space: nowrap;
                   text-overflow:ellipsis;
                   overflow: hidden;
                   //display: -webkit-box;
                   -webkit-line-clamp: 2;
                   //-webkit-box-orient: vertical;
        }
        .rowSameHeight {
            white-space: nowrap;
            overflow: hidden;
        }
    </style>
</head>
<body style="background-color: #ecf0f5;font-family: 微软雅黑;color: #475059;min-width: 1000px;" >
<div class="notice_main">
    <h5>操作日志列表</h5>
    <div style="border-bottom: 1px #ccc solid;padding-bottom: 8px">
        <p style="line-height: 24px;font-size: 14px;padding: 4px 0 0 36px ;color:#bb8940;background-image: url(static/img/ts_03.png);background-repeat: no-repeat;background-position: 10px 8px;font-weight: bold">温馨提示</p>
        <ul class="ts">
            <li><span>*</span>该页面主要显示的是操作日志的信息</li>

        </ul>
    </div>
<!--                            查找功能，未实现！                         -->
    <div class="notice_check">
        <label class="">用户名：</label> <input id="userName" type="text" class="find_input">
        <button class="check_btn" onclick="queryLogByUserName()">查询</button>

        <label class="">模块：</label> <input id="module" type="text" class="find_input">
        <button class="check_btn" onclick="queryLogByModule()">查询</button>

        <label class="">上传时间：</label> <input id="upTime" type="date" class="find_input">

        <button class="check_btn" onclick="queryLogByUpTime()">查询</button>
        <div class="notice_nav r_right">

            <a class="btn btn-default"  onclick="logExport(1)"><span class="glyphicon glyphicon-export"></span>导出</a>
<!--            a标签中的onclick方法中的函数名可能会影响函数的执行-->
<!--            <a class="btn btn-default"><span class="glyphicon glyphicon-print"></span>打印</a>-->

        </div>

    </div>

    <table id="table" class="table_style" style="word-wrap:break-all;word-break:break-all;table-layout:fixed;" > </table>
</div>
<script src="static/js/jquery/jQuery-2.2.0.min.js"></script>
<script src="static/js/bstable/js/bootstrap.min.js"></script>
<script src="static/js/bstable/js/bootstrap-table.js"></script>
<script src="static/js/bstable/js/bootstrap-table-zh-CN.min.js"></script>
<script src="static/js/layer_v2.1/layer/layer.js"></script>

<script>
    var queryUrl;
    $(function () {
        //查询当前登录用户的操作日志，所以url也要重写，把url作为一个全局变量
        logList("/logsList", "");
    });



    function queryLogByUserName(){
        //获取查询参数
        var e =$("#userName").val();

        //调用查询方法，判空
        if(e == ""){

            logList("/logsList", "");

        }else{
            logList("/logListByUserName/", e );

        }
    }
    function queryLogByModule(){
        //获取查询参数
        var e =$("#module").val();

        //调用查询方法，判空
        if(e == ""){
            logList("/logsList", "");

        }else{
            logList("/logListByModule/", e );

        }

    }
    function queryLogByUpTime(){
        //获取查询参数
        var e =$("#upTime").val();
        console.log(e);

        //调用查询方法，判空
        if(e == ""){
            logList("/logsList", "");

        }else{
            logList("/logListByUpTime/", e );

        }

    }

<!--    function download() {-->
<!--        console.log("download");-->
<!--        $.ajax({-->
<!--            type : 'GET',-->
<!--            url : '/logExport',-->
<!--            contentType: "application/json; charset=utf-8",-->
<!--            success : function(data) {-->

<!--            }-->
<!--        });-->

<!--    }-->
<!--window.download = function () {-->
<!--    var studentName = 1;-->
<!--    var form = document.createElement('form');-->
<!--    form.id = 'form';-->
<!--    form.name = 'form';-->
<!--    //把这个form放在body里面-->
<!--    document.body.appendChild(form);-->
<!--    //给form里面创建一个input框，隐藏掉，来存参数-->
<!--    var input = document.createElement('input');-->
<!--    input.type = 'hidden';-->
<!--    input.name = 'studentName';-->
<!--    input.value = studentName;-->
<!--    //把input放在form里面-->
<!--    form.appendChild(input);-->
<!--    form.method = "GET" //请求方式-->
<!--    form.action = '/logExport';-->
<!--    form.submit();-->
<!--    //删掉form-->
<!--    document.body.removeChild(form)-->
<!--}-->

function logExport(type) {

    var studentName = type;
    var form = document.createElement('form');
    form.id = 'form';
    form.name = 'form';
    //把这个form放在body里面
    document.body.appendChild(form);
    //给form里面创建一个input框，隐藏掉，来存参数
    var input = document.createElement('input');
    input.type = 'hidden';
    input.name = 'studentName';
    input.value = studentName;
    //把input放在form里面
    form.appendChild(input);
    form.method = "GET" //请求方式
    form.action = '/logExport';
    form.submit();
    //删掉form
    document.body.removeChild(form)
}



    function logList( myUrl , arg ){
        $('#table').bootstrapTable('destroy');
        $('#table').bootstrapTable({
            method: "get",
            striped: true,
            singleSelect: false,
            url: myUrl + arg,
            dataType: "json",
            pagination: true, //分页
            pageSize: 10,
            pageNumber: 1,
            search: false, //显示搜索框
            contentType: "application/x-www-form-urlencoded",
            queryParams:null,
            columns: [
                {
                    checkbox: "true",
                    field: 'check',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    title: "序号",
                    field: 'logsId',
                    align: 'center',
                    width: 40,
                    valign: 'middle'
                },
                {
                    title: "用户名",
                    field: 'userName',
                    align: 'center',
                    width: 80,
                    valign: 'middle'
                },
                {
                    title: '模块',
                    field: 'logsModule',
                    align: 'center',
                    width: 80,
                    valign: 'middle'
                },
                {
                    title: '状态',
                    field: 'logsFlag',
                    align: 'center',
                    width: 80,
                    valign: 'middle'
                },
                {
                    title: '备注',
                    field: 'logsRemark',
                    align: 'center',
                    width: 80,
                    valign: 'middle',


                    class: 'remark',
                    formatter:function(value, row , index){
                                var span=document.createElement('span');
                                span.setAttribute('title',value);
                                span.innerHTML = value;
                                return span.outerHTML;
                                }
                },
                {
                    title: '时间',
                    field: 'logsCreatetime',
                    align: 'center',
                    width: 80,
                    valign: 'middle'
                }

            ]
        });
    }




</script>
</body>
</html>
