
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
    <title></title>
    <link href="static/js/bstable/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="static/js/bstable/css/bootstrap-table.css" rel="stylesheet" type="text/css">
    <link href="static/css/table.css" rel="stylesheet" type="text/css">
    <style>
        .remark{   white-space: nowrap;
                   text-overflow:ellipsis;
                   overflow: hidden;
                   //display: -webkit-box;
                   -webkit-line-clamp: 2;
                   //-webkit-box-orient: vertical;
        }
        .rowSameHeight {
            white-space: nowrap;
            overflow: hidden;
        }
    </style>
</head>
<body style="background-color: #ecf0f5;font-family: 微软雅黑;color: #475059;min-width: 1000px;" >
<div class="notice_main">
    <h5>操作日志列表</h5>
    <div style="border-bottom: 1px #ccc solid;padding-bottom: 8px">
        <p style="line-height: 24px;font-size: 14px;padding: 4px 0 0 36px ;color:#bb8940;background-image: url(static/img/ts_03.png);background-repeat: no-repeat;background-position: 10px 8px;font-weight: bold">温馨提示</p>
        <ul class="ts">
            <li><span>*</span>该页面主要显示的是操作日志的信息</li>

        </ul>
    </div>
<!--                            查找功能，未实现！                         -->
    <div class="notice_check">
        <label class="">用户名：</label> <input type="text" class="find_input">
        <button class="check_btn">查询</button>

        <label class="">模块：</label> <input type="text" class="find_input">
        <button class="check_btn">查询</button>

        <label class="">上传时间：</label> <input type="date" class="find_input">

        <button class="check_btn">查询</button>
        <div class="notice_nav r_right">
            <a class="btn btn-default"><span class="glyphicon glyphicon-export"></span>导出</a>
<!--            <a class="btn btn-default"><span class="glyphicon glyphicon-print"></span>打印</a>-->


        </div>

    </div>

    <table id="table" class="table_style" style="word-wrap:break-all;word-break:break-all;table-layout:fixed;" > </table>
</div>
<script src="static/js/jquery/jQuery-2.2.0.min.js"></script>
<script src="static/js/bstable/js/bootstrap.min.js"></script>
<script src="static/js/bstable/js/bootstrap-table.js"></script>
<script src="static/js/bstable/js/bootstrap-table-zh-CN.min.js"></script>
<script src="static/js/layer_v2.1/layer/layer.js"></script>

<script>
    $(function () {
        $('#table').bootstrapTable({
            method: "get",
            striped: true,
            singleSelect: false,
            url: "/logsList",
            dataType: "json",
            pagination: true, //分页
            pageSize: 10,
            pageNumber: 1,
            search: false, //显示搜索框
            contentType: "application/x-www-form-urlencoded",
            queryParams:null,
            columns: [
                {
                    checkbox: "true",
                    field: 'check',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    title: "序号",
                    field: 'logsId',
                    align: 'center',
                    width: 40,
                    valign: 'middle'
                },
                {
                    title: "用户名",
                    field: 'userName',
                    align: 'center',
                    width: 80,
                    valign: 'middle'
                },
                {
                    title: '模块',
                    field: 'logsModule',
                    align: 'center',
                    width: 80,
                    valign: 'middle'
                },
                {
                    title: '状态',
                    field: 'logsFlag',
                    align: 'center',
                    width: 80,
                    valign: 'middle'
                },
                {
                    title: '备注',
                    field: 'logsRemark',
                    align: 'center',
                    width: 80,
                    valign: 'middle',


                    class: 'remark',
                    formatter:function(value, row , index){
                                var span=document.createElement('span');
                                span.setAttribute('title',value);
                                span.innerHTML = value;
                                return span.outerHTML;
                                }
                },
                {
                    title: '时间',
                    field: 'logsCreatetime',
                    align: 'center',
                    width: 80,
                    valign: 'middle'
                }




            ]
        });
    });



</script>
</body>
</html>
