<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.light.mapper.DeviceMapper">
    <update id="updateOnlineStatus" parameterType="map">
        UPDATE device
        <set>
            device_status = #{status}
        </set>
        WHERE device_id = #{deviceId}
    </update>
</mapper>
